# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Generated
src/routeTree.gen.ts
nearai.json

# Database
*.db
*.db-journal
*.db-shm
*.db-wal

# Environment & Secrets
.env
.env.*
!.env.example
*.pem
*.key
*.cert

# Testing
playwright-report/
test-results/
coverage/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
